<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Поздравляю!</h1>
    <h3>Первую часть задания ты сделал (сайт открылся) теперь нужно добавить роут для перенаправления с <code>./ya</code> на сайт <code>https://ya.ru</code> <br> если все сделал правильно ссылка снизу будет открывать сайт яндекса</h3>
    <a href="./ya">яндекс</a>
</body>
</html>